---
layout: default
---

{{ content }}
<body>
  <!-- JS di FullCalendar -->
  <script src="{{ '/assets/vendor/fullcalendar/core/index.global.js' | relative_url }}"></script>
  <!-- Eventuali plugin JS di FullCalendar -->
  {#
  <script src="{{ '/assets/vendor/fullcalendar/daygrid/index.global.js' | relative_url }}"></script>
  #} {#
  <script src="{{ '/assets/vendor/fullcalendar/timegrid/index.global.js' | relative_url }}"></script>
  #} {#
  <script src="{{ '/assets/vendor/fullcalendar/multimonth/index.global.js' | relative_url }}"></script>
  #} {#
  <script src="{{ '/assets/vendor/fullcalendar/interaction/index.global.js' | relative_url }}"></script>
  #}

  <!-- Il tuo script per inizializzare il calendario -->
  <script
    src="{{ '/assets/js/calendar-init.js' | relative_url }}"
    defer
  ></script>
  {# 'defer' è utile se lo script è nell'head, ma va bene anche qui senza #}
</body>
